{% extends 'base.html' %}
{% block content %}
<form action="#" method="post">
    {% csrf_token %}
    <label for UserID>Username</label>
    <input type="text" name="username">
    <label for password>Password</label>
    <input type="password" name="password">
    <p>Not registered?<a>Sign Up!</a></p>
    <input type="submit" value="Sign In!">
    <input type="reset" value="Reset">
    <div style="color:red;">
        {% if messages %}
        {% for message in messages %}
        {{message}}
        {% endfor %}
        {% endif %}
    </div>
</form>
{% endblock %}