{% extends 'base.html' %}
{% block content %}
{% load static %}
<style>
    img{
    position: relative;
    height: 70vh;
    width:auto;
    float:right;
    border-radius: 5px;
    margin-right:1vw;
    }
    @media only screen and (max-width: 1000px) {
  img {
    display:none;
  }

}
    form{
    padding:2%;
    position:relative;
    float:left;
    margin-right:0;
    }

</style>
<h1>Welcome to DevClubLMS!</h1>
<form action="#" method="POST">
    {% csrf_token %}
    <h2 align=center>Login</h2>
    {{form.as_p}}
    <p>Not registered? <a href="{% url 'register' %}">Sign Up!</a>
    <fieldset style="border:none; display:inline;">
        <input  type="submit" value="Sign In!">
        <input  type="reset" value="Reset">
    </fieldset>
    {% if messages %}
    <div class="alert alert-warning" style="margin-top:10px; padding:5px">

        {% for message in messages %}
        {{message}}
        {% endfor %}

    </div>
    {% endif %}
    {% if user.is_authenticated %}
    You are authenticated!
    {% endif %}
</form>
<img src="{% static 'lmsimage.webp' %}">
{% endblock %}